/** Custom css variables */
:root {
  --bg-black-900: #000;
  --bg-black-100: #ddd;
  --bg-black-50: #eff0f4;
  --bg-opacity: rgba(255, 255, 255, 0.5);
  --text-black-900: #000;
  --text-black-700: #555;
  --text-black-600: #666;
  --text-black-300: #bbb;
  --accent-color: #26b3d6;
  --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
  --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}

/** Global Styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
}

*:not(i) {
  font-family: 'Raleway', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-black-50);
  line-height: 1.5;
  overflow-x: hidden;
}

body.stop-scrolling {
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
  z-index: 9999;
}

/** Animations */
@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
    -webkit-transform: translateY(-5rem);
    -moz-transform: translateY(-5rem);
    -ms-transform: translateY(-5rem);
    -o-transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

/** UTILITIES */

.container {
  max-width: 100%;
  margin: auto;
  padding: 1rem 10vw;
}

.row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.outer-shadow {
  box-shadow: var(--outer-shadow);
}

.inner-shadow {
  box-shadow: var(--inner-shadow);
}

.hover-in-shadow {
  position: relative;
  z-index: 1;
}

.hover-in-shadow:hover {
  box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.hover-in-shadow:hover:after {
  box-shadow: var(--inner-shadow);
}

.align-items-center {
  align-items: center;
}

.btn-1 {
  display: inline-block;
  padding: 1rem 2.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  color: var(--accent-color);
  background-color: transparent;
  line-height: 1.5;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  z-index: 1;
}

.btn-1:after {
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

.section-title {
  padding: 0 1.5rem;
  flex: 0 0 100%;
  min-width: 100%;
  text-align: center;
  margin-bottom: 6rem;
}

.section-title h2 {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: uppercase;
  margin: 0;
}

.section-title h2:before {
  content: attr(data-heading);
  display: block;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--accent-color);
}

/*? HEADER */
.main-header {
  padding: 1rem;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.main-header a {
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.main-header a:hover {
  color: var(--accent-color);
}

.main-header img {
  width: 6rem;
}

.menu-btn {
  display: none;
}

.main-header ul {
  display: none;
}

.menu-icon {
  margin-left: auto;
  position: absolute;
  top: 50%;
  right: 10.5%;
  transform: translateY(-50%);
  display: block;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  cursor: pointer;
  z-index: 1;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.menu-icon__line {
  position: relative;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3px;
  background-color: var(--accent-color);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.menu-icon__line::before,
.menu-icon__line::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.menu-icon__line::before {
  top: -0.8rem;
}

.menu-icon__line::after {
  top: 0.8rem;
}

/*? MAIN NAV */
.nav-menu {
  position: fixed;
  background: var(--bg-black-50);
  padding: 0 1.5rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
}

.nav-menu-inner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu ul {
  /* background: violet; */
  padding: 1.5rem;
}

.nav-menu ul li {
  display: block;
  margin-bottom: 3rem;
  text-align: center;
}

.nav-menu ul li:last-child {
  margin: 0;
}

.nav-menu ul li a {
  display: inline-block;
  font-size: 3rem;
  font-weight: 600;
  color: var(--text-black-700);
  padding: 1rem 2.5rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.nav-menu ul li a.active {
  color: var(--accent-color);
}

.nav-menu ul li a:after {
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

.nav-menu .copyright-text {
  position: absolute;
  left: -6rem;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  color: var(--text-black-600);
  font-size: 1.8rem;
  font-weight: 400;
}

/*? HOME SECTION */

.home-section .full-screen {
  padding: 5rem 0;
  max-height: 100vh;
}

.home-section .home-text,
.home-section .home-img {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 2rem;
}

.home-section .home-text p {
  color: var(--text-black-600);
  font-size: 2rem;
  margin: 0;
}
.home-section .home-text h1 {
  position: relative;
  color: var(--text-black-900);
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
  overflow: hidden;
}

.home-section .home-text h1 .box {
  position: absolute;
  top: 74%;
  display: inline-block;
  background: var(--accent-color);
  height: 0.5rem;
  z-index: -1;
}

.home-section .home-text h1 .hi {
  display: inline-block;
}

.home-section .home-text h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-black-700);
  margin: 0;
}

.home-section .home-text .btn-1 {
  margin-top: 2rem;
}

.home-section .home-img .img-box {
  /* background: red; */
  max-width: 45rem;
  display: block;
  margin: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 1.5rem;
}

.home-section .home-img .img-box img {
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1rem solid transparent;
}

/*? INFO SECTION */
.section-about {
  padding: 8rem 0 0;
  min-height: 100vh;
}

.section-about .about-img {
  flex: 0 0 40%;
  max-width: 40%;
  padding: 0 1.5rem;
}

.section-about .about-img .img-box {
  padding: 1.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.section-about .about-img .social-links {
  margin-top: 2rem;
  text-align: center;
}
.section-about .about-img .social-links a {
  display: inline-block;
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
  line-height: 3rem;
  font-size: 2rem;
  margin: 0 1rem;
  padding: 1rem;
  color: var(--accent-color);
}

.section-about .about-img .img-box img {
  width: 100%;
  border: 1rem solid transparent;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.section-about .about-info {
  flex: 0 0 60%;
  max-width: 60%;
  padding: 0 1.5rem;
  font-size: 1.6rem;
}

.section-about .about-info p {
  margin-bottom: 2rem;
  line-height: 2.6rem;
  color: var(--text-black-600);
}
.section-about .about-info span {
  font-weight: 600;
}

.section-about .about-info .btn-1 {
  margin: 3rem 2rem 0 0;
}

.section-about .about-tabs {
  padding: 6rem 1.5rem 5rem;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  font-size: 1.6rem;
}

.section-about .about-tabs .tab-item {
  display: inline-block;
  margin: 0 0.5rem 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  color: var(--text-black-600);
  font-weight: 500;
}

.section-about .about-tabs .tab-item:hover:not(.active) {
  opacity: 0.5;
}
.section-about .about-tabs .tab-item.active {
  color: var(--accent-color);
}

.section-about .tab-content {
  flex: 0 0 100%;
  max-width: 100%;
  display: none;
}

.section-about .tab-content.active {
  display: block;
  animation: fadeInTop 1s ease;
  -webkit-animation: fadeInTop 1s ease;
}

.section-about .skills {
  padding: 0 0 4rem;
}

.section-about .skills .skills-item {
  flex: 0 0 50%;
  padding: 0 1.5rem;
  margin-bottom: 4rem;
}

.section-about .skills .skills-item p {
  font-size: 1.6rem;
  color: var(--text-black-600);
  text-transform: capitalize;
  margin: 0 0 1rem;
}

.section-about .skills .skills-item .progress {
  height: 2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  position: relative;
}

.section-about .skills .skills-item .progress-bar {
  background-color: var(--text-black-300);
  height: 6px;
  width: 50%;
  left: 7px;
  top: 7px;
  position: absolute;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.section-about .skills .skills-item .progress-bar span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.6rem;
  color: var(--text-black-600);
  margin-top: -4rem;
}

.section-about .skills .skills-item .html {
  width: 75%;
}
.section-about .skills .skills-item .css {
  width: 70%;
}
.section-about .skills .skills-item .javascript {
  width: 60%;
}
.section-about .skills .skills-item .python {
  width: 75%;
}
.section-about .skills .skills-item .django {
  width: 60%;
}
.section-about .skills .skills-item .github {
  width: 80%;
}

.section-about .education,
.section-about .experience {
  padding-bottom: 8rem;
}

.section-about .timeline {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}

.section-about .timeline:before {
  content: '';
  width: 0.1rem;
  height: 100%;
  left: 50%;
  top: 0;
  background: var(--bg-black-100);
  position: absolute;
}

.section-about .timeline .timeline-item {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 1.5rem;
}

.section-about .timeline .timeline-item:nth-child(odd) {
  padding-right: calc(50% + 5rem);
  text-align: right;
}
.section-about .timeline .timeline-item:nth-child(even) {
  padding-left: calc(50% + 5rem);
}

.section-about .timeline .timleline-item-inner {
  padding: 3rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  position: relative;
}

.section-about .timeline .timleline-item-inner .icon-1:after,
.section-about .timeline .timleline-item-inner .icon-3:after {
  content: '';
  position: absolute;
  width: 3rem;
  height: 0.1rem;
  background-color: var(--bg-black-100);
  left: -3rem;
  top: 2rem;
}

.section-about .timeline .timleline-item-inner .icon-2:after {
  content: '';
  position: absolute;
  width: 3rem;
  height: 0.1rem;
  background: var(--bg-black-100);
  right: -3rem;
  top: 2rem;
}

.section-about .timeline .timleline-item-inner .icon-1,
.section-about .timeline .timleline-item-inner .icon-2,
.section-about .timeline .timleline-item-inner .icon-3 {
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border-radius: 0.3rem;
  color: var(--accent-color);
  border: 0.1rem solid var(--bg-black-100);
  text-align: center;
  line-height: 4rem;
  font-size: 1.8rem;
  position: absolute;
  top: 1.8rem;

  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.section-about .timeline .timleline-item-inner span {
  font-weight: 500;
  color: var(--accent-color);
  display: block;
  margin: 0 0 1rem;
  font-size: 1.4rem;
}

.section-about .timeline .timleline-item-inner h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-black-700);
  margin: 0 0 0.5rem;
}

.section-about .timeline .timleline-item-inner h4 {
  font-size: 1.6rem;
  font-style: italic;
  color: var(--text-black-600);
  margin: 0;
}

.section-about .timeline .timleline-item-inner p {
  font-size: 1.6rem;
  color: var(--text-black-600);
  line-height: 2.5rem;
  margin: 1.5rem 0 0;
}

.section-about .timeline .timleline-item-inner .icon-1,
.section-about .timeline .timleline-item-inner .icon-3 {
  right: -7rem;
  background-color: var(--bg-black-50);
}

.section-about .timeline .timleline-item-inner .icon-2 {
  left: -7rem;
  background-color: var(--bg-black-50);
}

/*? SERVICES */
.services-section {
  min-height: 100vh;
  padding: 8rem 0 8rem;
}

.services-section .service-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.services-section .service-item-inner {
  padding: 8rem 1.5rem;
  text-align: center;
  width: 100%;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.services-section .service-item-inner .icon {
  position: relative;
  width: 6rem;
  height: 6rem;
  text-align: center;
  transition: all 0.3s ease;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  display: block;
  margin: 0 auto 3rem;
}

.services-section .service-item-inner .icon:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.3d ease;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: all 0.3d ease;
  -moz-transition: all 0.3d ease;
  -ms-transition: all 0.3d ease;
  -o-transition: all 0.3d ease;
}

.services-section .service-item-inner:hover .icon {
  box-shadow: var(--inner-shadow-0);
}

.services-section .service-item-inner:hover .icon:after {
  box-shadow: var(--outer-shadow);
}

.services-section .service-item-inner .icon i {
  line-height: 6rem;
  font-size: 2.5rem;
  transition: all 0.3s ease;
}

.services-section .service-item-inner:hover .icon i {
  color: var(--accent-color);
}

.services-section .service-item-inner h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-black-700);
  margin: 0 0 1rem;
}

.services-section .service-item-inner p {
  font-size: 1.6rem;
  color: var(--text-black-600);
  margin: 0;
  line-height: 2.6rem;
}

/*? PORTFOLIO SECTION */
.portfolio-section {
  padding: 8rem 0 8rem;
  min-height: 100vh;
}

.portfolio-section .section-title {
  margin-bottom: 4rem;
}

.portfolio-section .portfolio-filter {
  padding: 0 1.5rem;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.portfolio-section .filter-item {
  display: inline-block;
  margin: 0 0.5rem 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  cursor: pointer;
  font-weight: 500;
  color: var(--text-black-600);
  font-size: 1.6rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.portfolio-section .filter-item:hover:not(.active) {
  opacity: 0.6;
}

.portfolio-section .filter-item.active {
  color: var(--accent-color);
}

.portfolio-section .portfolio-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-section .portfolio-item.hide {
  display: none;
}

.portfolio-section .portfolio-item.show {
  display: block;
  animation: fadeInTop 0.5s ease;
  -webkit-animation: fadeInTop 0.5s ease;
}

.portfolio-section .portfolio-item-inner {
  padding: 1.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
}

.portfolio-section .portfolio-item-img img {
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  width: 100%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.portfolio-section .portfolio-item-inner:hover .portfolio-item-img img {
  transform: translateY(-2.5rem);
  -webkit-transform: translateY(-2.5rem);
  -moz-transform: translateY(-2.5rem);
  -ms-transform: translateY(-2.5rem);
  -o-transform: translateY(-2.5rem);
}

.portfolio-section .portfolio-item-img {
  position: relative;
}

.portfolio-section .portfolio-item-img .view-project {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--accent-color);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  position: absolute;
  left: 0;
  bottom: -0.4rem;
  transform: translateY(-0.5rem);
  -webkit-transform: translateY(-0.5rem);
  -moz-transform: translateY(-0.5rem);
  -ms-transform: translateY(-0.5rem);
  -o-transform: translateY(-0.5rem);
  z-index: -1;
  opacity: 0;
}

.portfolio-section .portfolio-item-inner:hover .view-project {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  opacity: 1;
}

.portfolio-section .portfolio-item-details {
  display: none;
}

.portfolio-section .portfolio-item-inner p {
  font-size: 1.6rem;
  margin: 1rem 0 0;
  color: var(--text-black-600);
}

/*? PORTFOLIO POPOUT */
.portfolio-popout {
  background: var(--bg-black-50);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.portfolio-popout.open {
  visibility: visible;
  opacity: 1;
}

.portfolio-popout .pp-loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1005;
  background: var(--bg-opacity);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
}

.portfolio-popout .pp-loader.active {
  visibility: visible;
  opacity: 1;
}

.portfolio-popout .pp-loader div {
  width: 4rem;
  height: 4rem;
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-right: 0.3rem solid transparent;
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
}

.portfolio-popout .pp-details {
  max-width: 135rem;
  width: calc(85% + 3rem);
  margin: auto;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.portfolio-popout .pp-details.active {
  opacity: 1;
}

.portfolio-popout .pp-details-inner {
  padding: 3rem 0;
}

.portfolio-popout .pp-title {
  padding: 0 1.5rem;
}

.portfolio-popout .pp-title h2 {
  font-size: 2.8rem;
  color: var(--text-black-900);
  font-weight: 600;
  margin: 0 0 0.5rem;
}

.portfolio-popout .pp-title p {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-black-600);
  margin: 0 0 1.5rem;
  border-bottom: 1px solid var(--bg-black-100);
  padding-bottom: 1rem;
}

.portfolio-popout .pp-title p span {
  font-weight: 400;
}

.portfolio-popout .pp-project-details h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-black-700);
  margin: 0 0 1.5rem;
}

.portfolio-popout .description {
  flex: 0 0 65%;
  max-width: 65%;
  padding: 0 1.5rem;
}

.portfolio-popout .description p {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-black-600);
  line-height: 2rem;
}

.portfolio-popout .info {
  flex: 0 0 35%;
  max-width: 35%;
  padding: 0 1.5rem;
}

.portfolio-popout .info h3 {
  margin-bottom: 1.2rem;
}

.portfolio-popout .info ul li {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-black-600);
}

.portfolio-popout .info ul li span {
  font-weight: 400;
}

.portfolio-popout .info ul li:last-child {
  margin-bottom: 0;
}

.portfolio-popout .seperator {
  height: 0.1rem;
  width: 100%;
  display: block;
  background: var(--bg-black-100);
}

.portfolio-popout .pp-img {
  max-width: 100%;
  width: auto;
  height: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.portfolio-popout .pp-main {
  min-height: 100vh;
  max-width: 135rem;
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-popout .pp-main-inner {
  padding: 7rem 0 5rem;
  position: relative;
}

.portfolio-popout .pp-project-details-btn {
  position: absolute;
  top: 1.5rem;
  left: 0;
  height: 4rem;
  line-height: 3.1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 500;
  color: var(--accent-color);
  border-radius: 3rem;
  font-size: 1.4rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.portfolio-popout .pp-project-details-btn i {
  margin-left: 0.5rem;
}

.portfolio-popout .pp-project-details-btn:after {
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

.portfolio-popout .pp-close {
  position: absolute;
  right: 0;
  top: 1.5rem;
  width: 4rem;
  height: 4rem;
  text-align: center;
  font-size: 4rem;
  color: var(--text-black-600);
  line-height: 3.5rem;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.portfolio-popout .pp-close:after {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.portfolio-popout .pp-counter {
  position: absolute;
  right: 0;
  height: 4rem;
  line-height: 4rem;
  bottom: 0.5rem;
  font-size: 1.6rem;
  color: var(--text-black-600);
}

.portfolio-popout .pp-prev,
.portfolio-popout .pp-next {
  position: fixed;
  top: 50%;
  width: 4rem;
  height: 4rem;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  opacity: 0.5;
  z-index: 1010;
  color: var(--text-black-900);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.portfolio-popout .pp-prev:hover,
.portfolio-popout .pp-next:hover {
  opacity: 1;
}

.portfolio-popout .pp-prev i,
.portfolio-popout .pp-next i {
  line-height: 4rem;
}

.portfolio-popout .pp-prev i {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.portfolio-popout .pp-prev {
  left: 1.5rem;
}
.portfolio-popout .pp-next {
  right: 1.5rem;
}

/*? TESTIMONIAL SECTION */
.testimonial-section {
  padding: 8rem 0 8rem;
  min-height: 100vh;
}
.testimonial-section .testimonial-box {
  width: 100%;
  max-width: 60rem;
  margin: auto;
  padding: 0 1.5rem;
}

.testimonial-section .testimonial-slider {
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  overflow: hidden;
}

.testimonial-section .testimonial-slider-container {
  display: flex;
  align-items: center;
  transition: margin 1s ease;
  -webkit-transition: margin 1s ease;
  -moz-transition: margin 1s ease;
  -ms-transition: margin 1s ease;
  -o-transition: margin 1s ease;
}

.testimonial-section .testimonial-item {
  padding: 3rem;
  text-align: center;
  position: relative;
}

.testimonial-section .testimonial-item i {
  position: absolute;
  font-size: 2rem;
  color: var(--text-black-600);
  opacity: 0.2;
}

.testimonial-section .testimonial-item i.left {
  left: 1rem;
  top: 1rem;
}

.testimonial-section .testimonial-item i.right {
  right: 1rem;
  top: 10rem;
}

.testimonial-section .testimonial-item p {
  font-size: 1.3rem;
  color: var(--text-black-700);
  margin-bottom: 3rem;
  font-weight: 500;
}

.testimonial-section .testimonial-item img {
  max-width: 10rem;
  display: inline-block;
  width: 100%;
}

.testimonial-section .testimonial-item span {
  display: block;
  margin: 2rem 0 0;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--text-black-600);
}

.testimonial-section .testimonial-slider-nav {
  text-align: center;
  margin-top: 3rem;
}

.testimonial-section .testimonial-slider-nav span {
  width: 4rem;
  height: 4rem;
  color: var(--accent-color);
  display: inline-block;
  font-size: 2.5rem;
  line-height: 4rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.testimonial-section .testimonial-slider-nav span:after {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/*? CONTACT SECTION */
.contact-section {
  min-height: 100vh;
  padding: 8rem 0 8rem;
}

.contact-section .contact-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 1.5rem;
  display: flex;
}

.contact-section .contact-item-inner {
  padding: 3rem 1.5rem;
  text-align: center;
  width: 100%;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.contact-section .contact-item-inner i {
  font-size: 2.5rem;
  color: var(--accent-color);
}

.contact-section .contact-item-inner span {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--text-black-700);
  margin: 1.5rem 0 1rem;
}

.contact-section .contact-item-inner p {
  font-size: 1.6rem;
  color: var(--text-black-600);
  margin: 0;
  line-height: 2.5rem;
  word-break: break-all;
}

.contact-section .contact-form {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 5rem;
  position: relative;
}

.contact-section .w-50 {
  padding: 0 1.5rem;
  flex: 0 0 50%;
  max-width: 50%;
}

.contact-section .input-group {
  margin: 0 0 2.5rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

.contact-section .input-group:after {
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

.contact-section .input-group .input-control {
  height: 4.5rem;
  width: 100%;
  display: block;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  border: none;
  font-size: 1.6rem;
  padding: 0 1.5rem;
  color: var(--text-black-700);
  background-color: transparent;
}

.contact-section .input-group textarea.input-control {
  height: 18rem;
  resize: none;
  padding-top: 1.5rem;
}

.contact-section .input-group .input-control:focus {
  box-shadow: var(--inner-shadow);
}

.contact-section .submit-btn {
  position: absolute;
  flex: 0 0 100%;
  max-width: 100%;
  right: 1.5rem;
  padding-top: 1.5rem;
}
